body {
    background-color: #1f2937;
}

.banner {
    font-size: 24px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
}

a:link {
    color: red;
    text-decoration: none;
}

a:visited {
    color: green;
}

a:hover { 
    color: hotpink;
}

a:active {
    color: white;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
}

.links {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    list-style-type: none;
    display: flex;
    flex-shrink: 0;
    gap: 20px 20px;
    margin-right: 16px;
}

.title {
    font-size: 48px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    color: #f9faf8;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 8px;
    border-color: #3882f6;
    border-bottom: #3882f6;
    border-right: #3882f6;
}

.placeholder {
    background-color: rgb(100, 98, 98);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 100px;
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
}

.hero {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 100px;
    padding: 16px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
   
}

.awesome {
    justify-content: center;
    align-items: center;
}

.awesome .title {
    width: 350px;
    margin-bottom: 7px;
    flex-shrink: 0;
}

.awesome .text {
    width: 450px;
    margin-top: 7px;
    margin-bottom: 10px;
    flex-shrink: 1;
}

.hero .placeholder { 
    width: 300px;  
    flex-shrink: 1; 
}